# Example Environment Configuration

# The base url where the Bevy community events are hosted
BASE_BEVY_URL=https://gdg.community.dev

# The domain of this tracking service
DOMAIN_URL=http://127.0.0.1:8000

# SQLite Database URL
DATABASE_URL=sqlite:///./gdg_referrals.db

# Secret key for hashing emails (Keep this secret and persistent!)
SECRET_KEY=your_very_secret_key_here
